# Homework 5 Alternative Assignment

## *Part One*

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# read in the file
elements = pd.read_csv('elements.csv')
print(elements)

        name symbol  atomicNumber
0   Hydrogen      H             1
1     Helium     He             2
2    Lithium     Li             3
3  Beryllium     Be             4
4      Boron      B             5
5     Carbon      C             6
6   Nitrogen      N             7
7     Oxygen      O             8

In [3]:
# add values
nineTen = pd.DataFrame({'name': ['Fluorine', 'Neon'], 'symbol': ['F', 'Ne'], 
                        'atomicNumber': [9, 10]})
elements = pd.concat([elements, nineTen], ignore_index=True)
# add atomic weights rounded to the nearest integer
elements['atomicWeights'] = [1.08, 4.003, 6.940, 9.012, 10.810, 12.001,
                                 14.007, 15.999, 18.998, 20.180]
elements = elements.round({"atomicWeights": 0})
print(elements)

        name symbol  atomicNumber  atomicWeights
0   Hydrogen      H             1            1.0
1     Helium     He             2            4.0
2    Lithium     Li             3            7.0
3  Beryllium     Be             4            9.0
4      Boron      B             5           11.0
5     Carbon      C             6           12.0
6   Nitrogen      N             7           14.0
7     Oxygen      O             8           16.0
8   Fluorine      F             9           19.0
9       Neon     Ne            10           20.0

## *Part Two*

In [4]:
# greek alphabet list
letters = ['alpha', 'beta', 'gamma', 'delta', 'epsilon',
            'zeta', 'eta', 'theta', 'iota']
np.random.shuffle(letters)
# random np.arrays
mu = 10
sigma = 1.5
arr1 = sigma * np.random.randn(9) + mu
arr2 = sigma * np.random.randn(9) + mu
# nine element array ranging from 0 to 2*pi
angle = np.random.uniform(0, 2*np.pi, 9)
cosine = np.cos(angle)
# make the dataframe
mixedDict = {'letters': letters, 'arr1': arr1, 'arr2': arr2,
                'angle': angle, 'cosine': cosine}
mixedDataframe = pd.DataFrame(mixedDict)
print(mixedDataframe)

   letters       arr1       arr2     angle    cosine
0     iota  10.181446  11.760714  3.631866 -0.882204
1     beta   9.792036   9.259879  4.720210  0.007821
2    alpha   8.575717  10.349080  0.518281  0.868672
3  epsilon   9.698280  10.818537  4.551885 -0.159816
4      eta   9.748451   9.812889  4.539521 -0.172008
5    gamma   8.463357   9.139977  3.558344 -0.914409
6    theta   7.126539  10.287968  2.549985 -0.830045
7    delta  10.391052   6.805515  1.425760  0.144528
8     zeta   7.623752   9.908201  0.038428  0.999262

In [5]:
# sort, drop , print
mixedDataframe.sort_values(by='letters', ascending=True, inplace=True)
mixedDataframe.drop(['arr2', 'cosine'], axis=1, inplace=True)
mixedDataframe = mixedDataframe[mixedDataframe.letters != 'zeta']
print(mixedDataframe)

   letters       arr1     angle
2    alpha   8.575717  0.518281
1     beta   9.792036  4.720210
7    delta  10.391052  1.425760
3  epsilon   9.698280  4.551885
4      eta   9.748451  4.539521
5    gamma   8.463357  3.558344
0     iota  10.181446  3.631866
6    theta   7.126539  2.549985

## *Part Three*

In [6]:
# function to print fibonacci numbers
def fibonacci(n):
    fibArray = []
    for i in range(n+1):
        if i == 0:
            fibArray.append(i)
        elif i == 1 or i == 2:
            fibArray.append(1)
        else:
            fibArray.append(fibArray[i-1]+fibArray[i-2])
    fibRatio = []
    for i in range(len(fibArray)-4, len(fibArray)):
        fibRatio.append(fibArray[i]/fibArray[i-1])
    return fibArray, fibRatio

In [7]:
# print results of Fibonacci function
fibArray, fibRatio = fibonacci(12)
print(fibArray)
print(fibRatio)
print("The ratio of any two successive Fibonacci numbers "
        "is very close to the \"Goden Ratio\". A number naturally occuring"
        " in nature.")

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
[1.619047619047619, 1.6176470588235294, 1.6181818181818182, 1.6179775280898876]
The ratio of any two successive Fibonacci numbers is very close to the "Goden Ratio". A number naturally occuring in nature.

## *Part Four*

In [8]:
# define the conversion function and print values
def kelvinToRankine(*args):
        for arg in args:
            print(arg * (9/5))
kelvinToRankine(1000, 2000, 3000, 4000, 5000)

1800.0
3600.0
5400.0
7200.0
9000.0

In [9]:
# define the lambda function and print values
kelvins = [1000, 2000, 3000, 4000, 5000]
rankine = list((map(lambda temp : temp*(9/5), kelvins)))
for temp in rankine: print(temp)

1800.0
3600.0
5400.0
7200.0
9000.0

## *Part Five*

In [10]:
# create the dataframe
mu = 0
sigma = 1.0
np.random.seed(14)
data = pd.DataFrame({'col_one' : np.random.normal(mu, sigma, size=100),
                     'col_two' : np.random.normal(mu, sigma, size=100)})

In [11]:
# split the data
seventy_five = data.sample(frac=0.75, random_state=14)
twenty_five = data.drop(seventy_five.index)
seventy_five.reset_index(drop=True, inplace=True)
twenty_five.reset_index(drop=True, inplace=True)
print(seventy_five.head(12))
print(twenty_five.head(12))

     col_one   col_two
0  -0.549331 -2.071775
1  -0.564781  1.545524
2  -0.149443  0.149047
3   1.691098 -2.073356
4  -0.517402 -0.385871
5  -1.217215 -0.573248
6  -0.509808 -0.711182
7  -0.314429  0.619435
8   0.458509 -1.597322
9   1.759860 -0.859598
10  0.173977 -0.038607
11  0.261186 -2.482785
     col_one   col_two
0   1.551339 -0.393439
1  -2.004329  0.176182
2   0.144678 -1.174295
3  -0.186289  0.076601
4  -1.075569 -1.556234
5   0.777936 -0.631019
6   1.009273 -0.034672
7  -0.981713 -1.359729
8   0.914673  0.520881
9   0.022111 -0.117207
10  1.326540 -0.631930
11 -1.805723  0.522458

In [12]:
# print the mean of the seventy_five dataframe
print("The mean both columns in the seventy_five dataframe are "
      "col_1: {} and col_2: {} ".format(seventy_five.mean()[0], seventy_five.mean()[1]))

The mean both columns in the seventy_five dataframe are col_1: -0.18468832348613298 and col_2: -0.23028563845139297

In [13]:
# print the mean of the twenty_five dataframe
print("The mean both columns in the twenty_five dataframe are "
      "col_1: {} and col_2: {} ".format(twenty_five.mean()[0], twenty_five.mean()[1]))

The mean both columns in the twenty_five dataframe are col_1: -0.13076770140588248 and col_2: -0.2264381002417534

## *Part Six*

In [14]:
# load the titanic data, check for missing values
titanic = sns.load_dataset('titanic')
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [15]:
# total passenger count by group
count_by_group = titanic.groupby(by=['pclass', 'sex']).count()['survived']
count_by_group

pclass  sex
1       female     94
        male      122
2       female     76
        male      108
3       female    144
        male      347
Name: survived, dtype: int64

In [16]:
# count of survived passengers by group
survived_count_by_group = titanic.groupby(by=['pclass', 'sex']).sum()['survived']
survived_count_by_group

pclass  sex
1       female    91
        male      45
2       female    70
        male      17
3       female    72
        male      47
Name: survived, dtype: int64

In [17]:
# survival rate
survived_count_by_group/count_by_group*100

pclass  sex
1       female    96.808511
        male      36.885246
2       female    92.105263
        male      15.740741
3       female    50.000000
        male      13.544669
Name: survived, dtype: float64

In [18]:
# create bins by customer age
titanic['age_groups'] = pd.cut(x=titanic['age'], bins=[0, 18, 25, 99],
                               labels=['kid', 'young_adult', 'adult'])
print(titanic['age_groups'].unique())
print()
print(titanic[['age', 'age_groups']].head(10))

['young_adult', 'adult', NaN, 'kid']
Categories (3, object): ['kid' < 'young_adult' < 'adult']

    age   age_groups
0  22.0  young_adult
1  38.0        adult
2  26.0        adult
3  35.0        adult
4  35.0        adult
5   NaN          NaN
6  54.0        adult
7   2.0          kid
8  27.0        adult
9  14.0          kid