# <center>__Assignment 2__</center>

In [55]:
"""import the necessary packages"""

import numpy as np
import pandas as pd
from scipy.stats import entropy

## Question 1

You are provided with the following training data set.

In [58]:
"""
load the training data  into a pandas dataframe
NOTE: cheat == 1 indicates  "yes" cheating on tax return
"""

refund = ['yes',  'no', 'no', 'yes', 'no',  'no',  'yes', 'no', 'no', 'no']
marital_status = ['single', 'married', 'single', 'married', 'divorced', 'married','divorced', 'single', 'married', 'single']
income_above_80K = ['yes', 'yes', 'no', 'yes', 'yes', 'no', 'yes','yes', 'no','yes'] 
cheat = [0, 0, 0, 0, 1, 0, 0, 1, 0, 1]

training_data = pd.DataFrame({'refund': refund, 'marital_status': marital_status, 'income_above_80K': income_above_80K,
                        'cheat': cheat})
training_data

  refund marital_status income_above_80K  cheat
0    yes         single              yes      0
1     no        married              yes      0
2     no         single               no      0
3    yes        married              yes      0
4     no       divorced              yes      1
5     no        married               no      0
6    yes       divorced              yes      0
7     no         single              yes      1
8     no        married               no      0
9     no         single              yes      1

The data is to be used to predict whether individuals will cheat in filing their taxes or not. The attributes are refund, indicating whether an individual received tax refund or not, marital_status indicating whether the individual is married, single, or divorced, the income_above_80k, indicating whether an individual’s taxable income is above $80,000 or not. The output variable, cheat, is a binary variable indicating whether an individual cheated in filing taxes or not.

The following decision tree can be used to extract the classification rule for the data provided.

![Decision Tree](decision_tree.png)

### a)	Write an IF-THEN rule derived from this decision tree, that can be used to classify instances in the data suppose your desire is to predict “yes” for the output variable.

In [60]:
"""if then to predict "yes" and individual cheated on their  taxes using the provided data"""

# extract a row to test the rule
test = training_data.iloc[0:1, :].copy()
# implement the rule
if test['refund'][0] == 'no' and \
test['income_above_80K'][0] == 'yes' and \
(test['marital_status'][0] == 'single'  or  test['marital_status'][0] == 'divorced'):
    test['predicted'] = 'yes'
else:
    test['predicted'] ='no'
test

  refund marital_status income_above_80K  cheat predicted
0    yes         single              yes      0        no

### b)	In code, create a function with an if-else statement to implement the rule you wrote above in question 1a. You can name the function predict. The function takes the input data and returns a vector of predicted output values. You can decide if you want your function’s input data argument to be a numpy array or a data frame, ,then structure your function body to process the input data accordingly. Provide some brief document of your function. You can loop through each instance in the input data and assess whether the instance satisfies the rule for predicting “yes” or not. If the instance satisfies the rule for predicting “yes”, then predict 1, otherwise, predict 0.

In [61]:
"""Implement an iterative function for making predictions"""

def predict(data):
    predicted = []
    for index in data.index:
    # implement the rule
        if data['refund'][index] == 'no' and \
        data['income_above_80K'][index] == 'yes' and \
        (data['marital_status'][index] == 'single'  or  data['marital_status'][index] == 'divorced'):
            predicted.append(1)
        else:
            predicted.append(0)

    return predicted

### c)	Create another function that implements the rule for predicting “yes” for the output, but this time, you will not use if-else statement or a loop. Rather use numpy arrays, matrices or vector to vectorize your code for faster and more efficient implementation. If the instance satisfies the rule for predicting “yes”, then predict 1, otherwise, predict 0. You can use logical operators for such implementation to compare values of test instances to values of attributes in the rule. This function still takes the input data and returns a vector of predicted values. You can call this function vectorized_predict.

In [62]:
"""Implement a vectorized function for making predictions"""

def vectorized_predict(data):

    predicted = np.where((data['refund'] == 'no') &
                                (data['income_above_80K'] == 'yes') &
                                ((data['marital_status'] == 'single') | (data['marital_status'] == 'divorced')),
                                1, 0)
    return predicted

### d)	Select the input data (refund, marital_status, income_above_80k) in the training data and apply your predict function to the input data to predict the outcome values of the input data. Your function should return a vector of predicted values.

In [69]:
"""apply the  iterative  rule function to the data"""
training_data['predicted'] = predict(training_data)
training_data

,refund,marital_status,income_above_80K,cheat,vectorized_predicted,predicted
0,yes,single,yes,0,0,0
1,no,married,yes,0,0,0
2,no,single,no,0,0,0
3,yes,married,yes,0,0,0
4,no,divorced,yes,1,1,1
5,no,married,no,0,0,0
6,yes,divorced,yes,0,0,0
7,no,single,yes,1,1,1
8,no,married,no,0,0,0
9,no,single,yes,1,1,1

### e)	Select the input data (refund, marital_status, income_above_80k) in the training data and apply your vectorized_predict function to the input data to predict the outcome values of the input data. Your function should return a vector of predicted values. Are the predicted values with the vectorized_predict function the same as the predicted values obtained through the predict function? (you should have the same results).

In [70]:
"""apply the vectorized rule function to the data"""

training_data['vectorized_predicted'] = vectorized_predict(training_data)
training_data

,refund,marital_status,income_above_80K,cheat,vectorized_predicted,predicted
0,yes,single,yes,0,0,0
1,no,married,yes,0,0,0
2,no,single,no,0,0,0
3,yes,married,yes,0,0,0
4,no,divorced,yes,1,1,1
5,no,married,no,0,0,0
6,yes,divorced,yes,0,0,0
7,no,single,yes,1,1,1
8,no,married,no,0,0,0
9,no,single,yes,1,1,1

The output of the iterative predict function and vectorized predict function are equivalent.

In [71]:
"""drop the newly created columns to avoid confusion"""

training_data.drop(columns=['predicted', 'vectorized_predicted'], inplace=True)

### f)	Include the predicted values as a column to the training data and name that column predicted_cheat.

In [74]:
"""create the predicted cheat column using vectorized function"""

training_data['predicted_cheat'] = vectorized_predict(training_data)
training_data

  refund marital_status income_above_80K  cheat  predicted_cheat
0    yes         single              yes      0                0
1     no        married              yes      0                0
2     no         single               no      0                0
3    yes        married              yes      0                0
4     no       divorced              yes      1                1
5     no        married               no      0                0
6    yes       divorced              yes      0                0
7     no         single              yes      1                1
8     no        married               no      0                0
9     no         single              yes      1                1

### g)	Create a function that computes the overall accuracy of the classification. You can call this function overall_accuracy. The function should take two arguments, a vector of  actual output values and a vector of predicted output values, then returns the classification accuracy. Inside the function, you can use boolean logic to compare the actual and predicted values, then count the proportion of how many predicted values are equal to the actual values to get the overall accuracy.

In [75]:
"""create the accuracy function"""

def overall_accuracy(actual,  predicted):

    total_observations = actual.shape[0]
    correct_predictins = sum(actual == predicted)
    accuracy = (correct_predictins/total_observations)
    return "The total accuracy of the rule is {:.2%}".format(accuracy)

overall_accuracy(training_data['cheat'], training_data['predicted_cheat'])

'The total accuracy of the rule is 100.00%'

### h)	Create a confusion matrix using the predicted and actual output values. You can use pandas crosstab function.

In [76]:
"""function to print confusion matrix (pd.crosstab)"""

def c_matrix(actual, predicted):

    return pd.crosstab(actual, predicted)

c_matrix(training_data['cheat'], training_data['predicted_cheat'])

predicted_cheat  0  1
cheat
0                7  0
1                0  3

### i)	Supose the test set data is as follows.

In [77]:
"""create the test data set"""

refund = ['no','no', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes',  'yes']
marital_status = ['single', 'single', 'married','divorced', 'married', 'single', 'single', 'single',
                  'married', 'single']
income_above_80K = ['yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']
cheat = [0, 0, 0, 0, 0, 0, 0, 1, 1, 1]
test_data = pd.DataFrame({'refund': refund, 'marital_status': marital_status, 'income_above_80K': income_above_80K,
                        'cheat': cheat})
test_data

  refund marital_status income_above_80K  cheat
0     no         single              yes      0
1     no         single              yes      0
2     no        married              yes      0
3     no       divorced               no      0
4     no        married              yes      0
5     no         single              yes      0
6    yes         single              yes      0
7     no         single              yes      1
8    yes        married              yes      1
9    yes         single               no      1

Apply the vectorized_predict function to the input of the test dataset to predict the output values for the test dataset. Include these predicted values as a column to the test dataset and called this column predicted_cheat.

In [78]:
"""apply the vectorized predict function to the test data"""

test_data['predicted_cheat'] = vectorized_predict(test_data)
test_data

  refund marital_status income_above_80K  cheat  predicted_cheat
0     no         single              yes      0                1
1     no         single              yes      0                1
2     no        married              yes      0                0
3     no       divorced               no      0                0
4     no        married              yes      0                0
5     no         single              yes      0                1
6    yes         single              yes      0                0
7     no         single              yes      1                1
8    yes        married              yes      1                0
9    yes         single               no      1                0

### j)	Apply the overall_accuracy function to the predicted out values and actual output values of the test set to compute the overall accuracy. Compare the overall accuracy of the test set and that of the training set. Is there overfitting? Why or why not? If there is overfitting, what would you do to avoid overfitting the rule to the training set?

In [79]:
"""print rule accuracy for the test data"""

overall_accuracy(test_data['cheat'], test_data['predicted_cheat'])

'The total accuracy of the rule is 50.00%'

Applying the rule to the test data set resulted in classification accuracy of 50%. It's clear that the rule wa overfit to  the training set and did not generalize well on new data. To avoid overfitting a different perfomance metric should be used to determine the logic of the rule, i.e., information gain.

## Question 2

You will use the same training dataset provided in question 1. Suppose we wanted to create one rule using only one attribute that best classifies the input data, you will need to write a function or an algorithm to find that best attribute. There are different approaches we can use to evaluate the best attritubute that will classify our data with the highest accuracy. One of the accuracy measures we can use to find the best attribute is information gain, which uses entropy.

### a)	Given the training dataset in question 1, write a function that computes the entropy of output variable. The function should take the entire training dataset, and the name of the output variable as arguments and return the entropy value. You can call the function, entropy.

In [80]:
""" Computes entropy of label distribution for binary classification problem. """

def entropy(data, label):

  # get labels from the data
  label_count = data[label].shape[0]
  # if only one rcord or one class labl entropy is 0
  if label_count <= 1 or len(data[label].unique()) < 2:
    return 0 
  # compute the proportion of positives in the data
  yes_count = sum(data[label] == 1)
  p = yes_count/label_count
  # calculate entropy
  return -p * np.log(p) - (1-p)*np.log(1-p)

entropy(training_data, 'cheat')

0.6108643020548935

### b)	Create another function that takes the dataset, the name of the output variable, and a specific input variable as arguments and returns the information gain for a split of the data on that specific input variable. You can call the function, information_gain. Information gain is defined as:

In [87]:
"""
function to calculate information gain after splitting your data on a rule
"""

def information_gain(data, label, split, split_value):

    # calculate entropy of the full dataset passed to the function
    ent = entropy(data, label)
    # spilt the data on selected feature, data == split_value
    split_0 = data[data[split] == split_value]
    # calculat split  weight
    split_0_weight = split_0.shape[0]/data.shape[0]
    # split the data on slcted featue, data != split_value
    split_1 = data[data[split] != split_value]
    # calculate split weight
    split_1_weight = split_1.shape[0]/data.shape[0]
    # calculate entopy for each group created from split
    entropy_0 = entropy(split_0, label)
    entropy_1 = entropy(split_1, label)
    # calculate information gain from split
    information_gain = ent - ((split_0_weight * entropy_0)+(split_1_weight*entropy_1))
    
    return information_gain
information_gain(training_data, 'cheat', 'refund', 'yes')

0.13282862876456336

In [88]:
"""
function to calcualte information gain for splitting on each
feature value combination  in th data and write to dictionary
args = data, feature set
"""

def get_gain(data, features):
    
    # instantiate info_gain dictionary to store gain for splits
    info_gain = {}

    for feature  in features:
        unique_values = test_data[feature].unique()
        for val in unique_values:
            info_gain[str(feature)+'-'+str(val)] =\
            information_gain(test_data, 'cheat', feature, val)
    return info_gain

In [90]:
"""calculate information gain for each feature in the data"""
calculated_gain = get_gain(test_data, test_data.columns[0:3])
calculated_gain

{'refund-no': 0.13282862876456342,
 'refund-yes': 0.13282862876456342,
 'marital_status-single': 0.004021743230482544,
 'marital_status-married': 0.0011213395567696294,
 'marital_status-divorced': 0.038001550589562005,
 'income_above_80K-yes': 0.022366750247857836,
 'income_above_80K-no': 0.022366750247857836}


c)	Do a cross tabulation using the best attribute obtained in 2b above and the output variable in the training dataset.

In [91]:
"""Print a cross tab of the variables in th data that provide the most information gain"""

pd.DataFrame(sorted(calculated_gain.values(), reverse=True), index=calculated_gain.keys(),
            columns=['Information Gain'])

                         Information Gain
refund-no                        0.132829
refund-yes                       0.132829
marital_status-single            0.038002
marital_status-married           0.022367
marital_status-divorced          0.022367
income_above_80K-yes             0.004022
income_above_80K-no              0.001121

d)	Draw a decision tree (use shapes in the word document) to show how the best variable can be used for classification. This is a decision tree with a single node or single variable.

![My Decision Tree](my_decision_tree.png)

### e)	Create a one-rule from the decision tree in 2d. The rule should containing an antecedent and a consequent. The antecedent should use only the best attribute and it’s value or values.

In [92]:
"""one rule created from the decision tree above"""

# set test return  value to None
prediction_test = None
# copy one record for test
test = training_data.iloc[0:1, :].copy()
# apply the rule and print test value
# antecedent
if test['refund'][0] == 'no':
    # consequent
    prediction_test = 1
else:
    prediction_test = 0

prediction_test

0

### f)	Using the antecedent of your rule, extract the data covered by the rule and compute the coverage of the rule.

In [93]:
""" compute rule coverage"""

# get params to calculate coverage
covered_instances = training_data[training_data['refund'] == 'no'].shape[0]
total_instances = training_data.shape[0]
# calculate and print coverage
coverage = covered_instances/total_instances
coverage

0.7

### g)	Using the antecedent and precedent of your rule, extract the data covered by the rule and compute the accuracy of the rule.

In [94]:
"""extract covered records and compute the accuracy of the rule"""

results = []
covered_instances = training_data[training_data['refund'] == 'no'].copy()
for index in covered_instances.index:
        # antecedent
        if covered_instances['refund'][index] == 'no':
            # consequent
            results.append(1)
        else:
            # consequent
            results.append(0)
# add covered instances results to subset of covered data
covered_instances['predicted'] = results
# compute and print accuracy
covered_accuracy = overall_accuracy(covered_instances['cheat'], covered_instances['predicted'])
covered_accuracy

'The total accuracy of the rule is 42.86%'

### h)	Create a function that implents the rule as an if-else statement to predict the outcomes of any instance (a vector of values associated with the input variables for a specific individual). The function should be able to take one or more instances as an argument in the form of a dataframe or numpy arrary.

In [95]:
"""
define a function to apply one rule created from the decision tree above
"""

def one_rule(data):
    # empty list to store predictions
    predicted = []
    for index in data.index:
        # antecedent
        if data['refund'][index] == 'no':
            # consequent
            predicted.append(1)
        else:
            # consequent
            predicted.append(0)
    return predicted

# apply the function and print results
one_rule(training_data)

[0, 1, 1, 0, 1, 1, 0, 1, 1, 1]

### i)	Implemement the function on the training set and test set in question 1 to get the predicted outputs for the training set and test set.

In [97]:
"""implement the function on the training data """

training_data['one_rule_predicted'] = one_rule(training_data)
training_data

,refund,marital_status,income_above_80K,cheat,predicted_cheat,one_rule_predicted
0,yes,single,yes,0,0,0
1,no,married,yes,0,0,1
2,no,single,no,0,0,1
3,yes,married,yes,0,0,0
4,no,divorced,yes,1,1,1
5,no,married,no,0,0,1
6,yes,divorced,yes,0,0,0
7,no,single,yes,1,1,1
8,no,married,no,0,0,1
9,no,single,yes,1,1,1

In [98]:
"""implement the function on the testing data """

test_data['one_rule_predicted'] = one_rule(test_data)
test_data

,refund,marital_status,income_above_80K,cheat,predicted_cheat,one_rule_predicted
0,no,single,yes,0,1,1
1,no,single,yes,0,1,1
2,no,married,yes,0,0,1
3,no,divorced,no,0,0,1
4,no,married,yes,0,0,1
5,no,single,yes,0,1,1
6,yes,single,yes,0,0,0
7,no,single,yes,1,1,1
8,yes,married,yes,1,0,0
9,yes,single,no,1,0,0

### j)	What is the overall prediction accuracies for the training set and test set? You can use the overall_accuracy function you initially defined.

In [99]:
"""print one rule accuracy for training data"""

overall_accuracy(training_data['cheat'], training_data['one_rule_predicted'])

'The total accuracy of the rule is 60.00%'

In [100]:
"""print one rule accuracy for training data"""

overall_accuracy(test_data['cheat'], test_data['one_rule_predicted'])

'The total accuracy of the rule is 20.00%'

### k)	Do you think there is overfitting or underfitting? Why or why not?

The one rule model is overfitting to the training dataset. Though the rule did not perform particularly well on either the training set (60% accuracy) or the test set (20% accuracy), performance was still significantly better on the training set with accuracy 40% better than when applied to the test set. These results show that the rule was overfit and not able to generalize well.