# <center>__Assignment 2__</center>

In [1]:
"""import the necessary packages"""

import numpy as np
import pandas as pd
from scipy.stats import entropy

## Question 1

You are provided with the following training data set.

In [2]:
"""load the training data  into a pandas dataframe"""

refund = ['yes',  'no', 'no', 'yes', 'no',  'no',  'yes', 'no', 'no', 'no']
marital_status = ['single', 'married', 'single', 'married', 'divorced', 'married','divorced', 'single', 'married', 'single']
income_above_80K = ['yes', 'yes', 'no', 'yes', 'yes', 'no', 'yes','yes', 'no','yes'] 
cheat = [0, 0, 0, 0, 1, 0, 0, 1, 0, 1]

tax_data = pd.DataFrame({'refund': refund, 'marital_status': marital_status, 'income_above_80K': income_above_80K,
                        'cheat': cheat})

The data is to be used to predict whether individuals will cheat in filing their taxes or not. The attributes are refund, indicating whether an individual received tax refund or not, marital_status indicating whether the individual is married, single, or divorced, the income_above_80k, indicating whether an individual’s taxable income is above $80,000 or not. The output variable, cheat, is a binary variable indicating whether an individual cheated in filing taxes or not.

The following decision tree can be used to extract the classification rule for the data provided.

![Decision Tree](decision_tree.png)

### a)	Write an IF-THEN rule derived from this decision tree, that can be used to classify instances in the data suppose your desire is to predict “yes” for the output variable.

In [3]:
"""if then to predict "yes" and individual cheated on their  taxes using the provided data"""

# extract a row to test the rule
test_data = tax_data.iloc[0:1, :].copy()
# implement the rule
if test_data['refund'][0] == 'no' and \
test_data['income_above_80K'][0] == 'yes' and \
(test_data['marital_status'][0] == 'single'  or  test_data['marital_status'][0] == 'divorced'):
    test_data['predicted'] = 'yes'
else:
    test_data['predicted'] ='no'
test_data

  refund marital_status income_above_80K  cheat predicted
0    yes         single              yes      0        no

### b)	In code, create a function with an if-else statement to implement the rule you wrote above in question 1a. You can name the function predict. The function takes the input data and returns a vector of predicted output values. You can decide if you want your function’s input data argument to be a numpy array or a data frame, ,then structure your function body to process the input data accordingly. Provide some brief document of your function. You can loop through each instance in the input data and assess whether the instance satisfies the rule for predicting “yes” or not. If the instance satisfies the rule for predicting “yes”, then predict 1, otherwise, predict 0.

In [4]:
"""Implement an iterative function making predictions"""

def predict(data):
    predicted = []
    for index in data.index:
    # implement the rule
        if data['refund'][index] == 'no' and \
        data['income_above_80K'][index] == 'yes' and \
        (data['marital_status'][index] == 'single'  or  data['marital_status'][index] == 'divorced'):
            predicted.append(1)
        else:
            predicted.append(0)

    return predicted

### c)	Create another function that implements the rule for predicting “yes” for the output, but this time, you will not use if-else statement or a loop. Rather use numpy arrays, matrices or vector to vectorize your code for faster and more efficient implementation. If the instance satisfies the rule for predicting “yes”, then predict 1, otherwise, predict 0. You can use logical operators for such implementation to compare values of test instances to values of attributes in the rule. This function still takes the input data and returns a vector of predicted values. You can call this function vectorized_predict.

In [5]:
"""Implement a vectorized function for making predictions"""
def vectorized_predict(data):

    predicted = np.where((tax_data['refund'] == 'no') &
                                (tax_data['income_above_80K'] == 'yes') &
                                ((tax_data['marital_status'] == 'single') | (tax_data['marital_status'] == 'divorced')),
                                1, 0)
    return predicted

### d)	Select the input data (refund, marital_status, income_above_80k) in the training data and apply your predict function to the input data to predict the outcome values of the input data. Your function should return a vector of predicted values.

In [6]:
tax_data['predicted'] = vectorized_predict(tax_data)
tax_data

  refund marital_status income_above_80K  cheat  predicted
0    yes         single              yes      0          0
1     no        married              yes      0          0
2     no         single               no      0          0
3    yes        married              yes      0          0
4     no       divorced              yes      1          1
5     no        married               no      0          0
6    yes       divorced              yes      0          0
7     no         single              yes      1          1
8     no        married               no      0          0
9     no         single              yes      1          1

### e)	Select the input data (refund, marital_status, income_above_80k) in the training data and apply your vectorized_predict function to the input data to predict the outcome values of the input data. Your function should return a vector of predicted values. Are the predicted values with the vectorized_predict function the same as the predicted values obtained through the predict function? (you should have the same results).

In [7]:
tax_data['vectorized_predicted'] = vectorized_predict(tax_data)
tax_data

,refund,marital_status,income_above_80K,cheat,predicted,vectorized_predicted
0,yes,single,yes,0,0,0
1,no,married,yes,0,0,0
2,no,single,no,0,0,0
3,yes,married,yes,0,0,0
4,no,divorced,yes,1,1,1
5,no,married,no,0,0,0
6,yes,divorced,yes,0,0,0
7,no,single,yes,1,1,1
8,no,married,no,0,0,0
9,no,single,yes,1,1,1

In [8]:
"""drop the newly created columns"""

tax_data.drop(columns=['predicted', 'vectorized_predicted'], inplace=True)

### f)	Include the predicted values as a column to the training data and name that column predicted_cheat.

In [9]:
tax_data['predicted_cheat'] = vectorized_predict(tax_data)
tax_data

  refund marital_status income_above_80K  cheat  predicted_cheat
0    yes         single              yes      0                0
1     no        married              yes      0                0
2     no         single               no      0                0
3    yes        married              yes      0                0
4     no       divorced              yes      1                1
5     no        married               no      0                0
6    yes       divorced              yes      0                0
7     no         single              yes      1                1
8     no        married               no      0                0
9     no         single              yes      1                1

In [10]:
tax_data.shape

(10, 5)

### g)	Create a function that computes the overall accuracy of the classification. You can call this function overall_accuracy. The function should take two arguments, a vector of  actual output values and a vector of predicted output values, then returns the classification accuracy. Inside the function, you can use boolean logic to compare the actual and predicted values, then count the proportion of how many predicted values are equal to the actual values to get the overall accuracy.

In [11]:
"""create the accuracy function"""

def overall_accuracy(actual,  predicted):

    total_observations = actual.shape[0]
    correct_predictins = sum(actual == predicted)
    accuracy = (correct_predictins/total_observations)
    return "The total accuracy of the rule is {:.2%}".format(accuracy)

overall_accuracy(tax_data['cheat'], tax_data['predicted_cheat'])

'The total accuracy of the rule is 100.00%'

### h)	Create a confusion matrix using the predicted and actual output values. You can use pandas crosstab function.

In [12]:
"""function to print confusion matrix (pd.crosstab)"""

def c_matrix(actual, predicted):

    return pd.crosstab(actual, predicted)

c_matrix(tax_data['cheat'], tax_data['predicted_cheat'])

predicted_cheat  0  1
cheat
0                7  0
1                0  3

### i)	Supose the test set data is as follows.

In [13]:
"""create the test data set"""

refund = ['no','no', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes',  'yes']
marital_status = ['single', 'single', 'married','divorced', 'married', 'single', 'single', 'single',
                  'married', 'single']
income_above_80K = ['yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']
cheat = [0, 0, 0, 0, 0, 0, 0, 1, 1, 1]
test_data = pd.DataFrame({'refund': refund, 'marital_status': marital_status, 'income_above_80K': income_above_80K,
                        'cheat': cheat})
test_data

  refund marital_status income_above_80K  cheat
0     no         single              yes      0
1     no         single              yes      0
2     no        married              yes      0
3     no       divorced               no      0
4     no        married              yes      0
5     no         single              yes      0
6    yes         single              yes      0
7     no         single              yes      1
8    yes        married              yes      1
9    yes         single               no      1

Apply the vectorized_predict function to the input of the test dataset to predict the output values for the test dataset. Include these predicted values as a column to the test dataset and called this column predicted_cheat.

In [14]:
"""apply the vectorized predict function to the test data"""

test_data['predicted_cheat'] = vectorized_predict(test_data)
test_data

  refund marital_status income_above_80K  cheat  predicted_cheat
0     no         single              yes      0                0
1     no         single              yes      0                0
2     no        married              yes      0                0
3     no       divorced               no      0                0
4     no        married              yes      0                1
5     no         single              yes      0                0
6    yes         single              yes      0                0
7     no         single              yes      1                1
8    yes        married              yes      1                0
9    yes         single               no      1                1

### j)	Apply the overall_accuracy function to the predicted out values and actual output values of the test set to compute the overall accuracy. Compare the overall accuracy of the test set and that of the training set. Is there overfitting? Why or why not? If there is overfitting, what would you do to avoid overfitting the rule to the training set?

In [15]:
"""print rule accuracy for the test data"""
overall_accuracy(test_data['cheat'], test_data['predicted_cheat'])

'The total accuracy of the rule is 80.00%'

## Question 2

You will use the same training dataset provided in question 1. Suppose we wanted to create one rule using only one attribute that best classifies the input data, you will need to write a function or an algorithm to find that best attribute. There are different approaches we can use to evaluate the best attritubute that will classify our data with the highest accuracy. One of the accuracy measures we can use to find the best attribute is information gain, which uses entropy.

### a)	Given the training dataset in question 1, write a function that computes the entropy of output variable. The function should take the entire training dataset, and the name of the output variable as arguments and return the entropy value. You can call the function, entropy.

In [16]:
def entropy(data, label):
  """ Computes entropy of label distribution. """

  yes_count = sum(data[label] == 1)
  total_labels = data[label].shape[0]
  p = yes_count/total_labels
  return -(p * np.log(p)) - ((1-p)*np.log(1-p))

entropy(test_data, 'cheat')

0.6108643020548935

In [17]:
"""
function to calculate information gain after splitting your data on a rule
"""

def information_gain(data, label, split, split_value):

    # calculate gain of the full dataset passed to the function
    ent = entropy(data, label)
    # spilt the data on selected feature, data == split_value
    split_0 = data[data[split] == split_value]
    # calculat split  weight
    split_0_weight = split_0.shape[0]/data.shape[0]
    # split the data on slcted featue, data != split_value
    split_1 = data[data[split] != split_value]
    # calculate split weight
    split_1_weight = split_1.shape[0]/data.shape[0]
    # calculate entopy for each group created from split
    entropy_0 = entropy(split_0, label)
    entropy_1 = entropy(split_1, label)
    # calculate information gain from split
    information_gain = ent - ((split_0_weight * entropy_0)+(split_1_weight*entropy_1))
    
    return information_gain

In [18]:
information_gain(test_data, 'cheat', 'refund', 'yes')

0.13282862876456342