In [1]:
# import needed modules
import numpy as np
import pandas as pd
import random

In [2]:
# read in the elements csv file
elements = pd.read_csv('elements.csv')
elements

        name symbol  atomicNumber
0   Hydrogen      H             1
1     Helium     He             2
2    Lithium     Li             3
3  Beryllium     Be             4
4      Boron      B             5
5     Carbon      C             6
6   Nitrogen      N             7
7     Oxygen      O             8

In [3]:
nineTen = [{'name':'Fluorine','symbol':'F','atomicNumber':9}, 
            {'name':'Neon', 'symbol':'Ne', 'atomicNumber':10}]

elements = elements.append(nineTen, ignore_index = True)

In [4]:
# add atomic weights rounded to the nearest integer
elements['atomicWeights'] = [1.08, 4.003, 6.940, 9.012, 10.810, 12.001, 14.007, 15.999, 18.998, 20.180]
elements = elements.round({"atomicWeights":0})
#elements.astype({"atomicWeights":int})
elements

        name symbol  atomicNumber  atomicWeights
0   Hydrogen      H             1            1.0
1     Helium     He             2            4.0
2    Lithium     Li             3            7.0
3  Beryllium     Be             4            9.0
4      Boron      B             5           11.0
5     Carbon      C             6           12.0
6   Nitrogen      N             7           14.0
7     Oxygen      O             8           16.0
8   Fluorine      F             9           19.0
9       Neon     Ne            10           20.0

In [5]:
# part 2
# greek alphabet list
letters = ['alpha', 'beta', 'gamma', 'delta', 'epsilon', 'zeta', 'eta', 'theta', 'iota',]
random.shuffle(letters)
letters

['beta', 'delta', 'iota', 'theta', 'zeta', 'eta', 'gamma', 'alpha', 'epsilon']

In [6]:
# random np.arrays
mu = 10
sigma = 1.5
arr1 = sigma * np.random.randn(9) + mu
arr2 = arr1.copy()

In [7]:
# nine element array ranging from 0 to 2*pi
angle = np.linspace(0, 2*np.pi, 9)
cosine = np.cos(angle)
print(angle)
print(cosine)

[0.         0.78539816 1.57079633 2.35619449 3.14159265 3.92699082
 4.71238898 5.49778714 6.28318531]
[ 1.00000000e+00  7.07106781e-01  6.12323400e-17 -7.07106781e-01
 -1.00000000e+00 -7.07106781e-01 -1.83697020e-16  7.07106781e-01
  1.00000000e+00]

In [8]:
mixedDict = {'letters':letters,'arr1': arr1,'arr2':arr2, 'angle': angle, 'cosine':cosine}

In [9]:
mixedDataframe = pd.DataFrame(mixedDict)
print(mixedDataframe)

   letters       arr1       arr2     angle        cosine
0     beta  11.212774  11.212774  0.000000  1.000000e+00
1    delta   9.684379   9.684379  0.785398  7.071068e-01
2     iota   8.084986   8.084986  1.570796  6.123234e-17
3    theta  10.291470  10.291470  2.356194 -7.071068e-01
4     zeta   9.566164   9.566164  3.141593 -1.000000e+00
5      eta  14.080774  14.080774  3.926991 -7.071068e-01
6    gamma  10.748863  10.748863  4.712389 -1.836970e-16
7    alpha   9.949609   9.949609  5.497787  7.071068e-01
8  epsilon   8.239945   8.239945  6.283185  1.000000e+00

In [10]:
mixedDataframe.sort_values(by='letters', ascending=True, inplace=True)
mixedDataframe.drop(['arr2', 'cosine'], axis = 1, inplace=True)
mixedDataframe = mixedDataframe[mixedDataframe.letters != 'zeta']

In [11]:
mixedDataframe

   letters       arr1     angle
7    alpha   9.949609  5.497787
0     beta  11.212774  0.000000
1    delta   9.684379  0.785398
8  epsilon   8.239945  6.283185
5      eta  14.080774  3.926991
6    gamma  10.748863  4.712389
2     iota   8.084986  1.570796
3    theta  10.291470  2.356194

In [16]:
# part 3
# function to print fibonacci numbers
def fibonacci(n):
    fibArray = []
    for i in range(n+1):
        if i == 0:
            fibArray.append(i)
        elif i == 1 or i == 2:
            fibArray.append(1)
        else:
            fibArray.append(fibArray[i-1]+fibArray[i-2])
    fibRatio = []
    for i in range(len(fibArray)-4, len(fibArray)):
        fibRatio.append(fibArray[i]/fibArray[i-1])
    return fibArray, fibRatio

In [17]:
fibArray, fibRatio = fibonacci(12)
print(fibArray)
print(fibRatio)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
[1.619047619047619, 1.6176470588235294, 1.6181818181818182, 1.6179775280898876]

In [ ]:
def kelvinToRankine(*args):
    for arg in args:
        print(arg * (9/5))

In [ ]:
kelvinToRankine(5,10,15,20)

In [ ]:
kelvins = [20, 30, 40]
convert = lambda temp : temp*(9/5) 
kelvins = [convert(temp) for temp in kelvins]
print(kelvins)